/* ============================================ */
/* Standard Settings ========================== */
/* ============================================ */
#skillsWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--01-background);
}
#skillsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.skillsBox{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  .skillsBoxSection{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .skillsBoxSectionCenter{
    justify-content: center;
    align-items: center;
  }
    .skillIcon{
      height: 75px;
      width: 75px;
    }
    .skillTitle{
      width: 100%;
      padding-top: 20px;
      font-size: 1.2em;
      color: var(--01-text-titles);
      font-weight: bold;
      text-shadow: 0.5px 0.5px 1px var(--01-borders);
    }
    .skillSubTitle{
      width: 100%;
      padding-top: 20px;
      font-size: 1.2em;
      color: var(--01-icons-subtitles);
      font-weight: bold;
    }
    .skillDesc{
      width: 100%;
      padding-top: 20px;
      font-size: 1em;
      color: var(--01-text-titles);
      font-weight: 300;
    }
    .skillList{
      width: 100%;
      font-size: 1em;
      color: var(--01-text-titles);
      font-weight: 300;
      list-style: none;
      margin: 5px;
    }
    .skillListItem{
      width: 100%;
      font-size: 1em;
      color: var(--01-text-titles);
      font-weight: 300;
      margin: 2px;
    }

/* ============================================ */
/* 300 Width ================================== */
/* ============================================ */
@media only screen and (min-width: 300px) {
  #skillsContainer {
    flex-flow: column wrap;
  }
  .skillsBoxFirst{
    border-top: solid 1px var(--01-text-titles);
  }
  .skillsBoxSecond{
    border-top: solid 1px var(--01-text-titles);
  }
  .skillsBoxThird{
    border-top: solid 1px var(--01-text-titles);
    border-bottom: solid 1px var(--01-text-titles);
  }
  .skillsBox{
    max-width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* ============================================ */
/* 500 Width ================================== */
/* ============================================ */
@media only screen and (min-width: 500px) {
}

/* ============================================ */
/* 700 Width ================================== */
/* ============================================ */
@media only screen and (min-width: 700px) {
}

/* ============================================ */
/* 1000 Width ================================= */
/* ============================================ */
@media only screen and (min-width: 1000px) {
  #skillsContainer {
    flex-flow: row nowrap;
  }
  .skillsBoxFirst{
    border: none;
  }
  .skillsBoxSecond{
    border: none;
    border-right: solid 1px var(--01-text-titles);
    border-left: solid 1px var(--01-text-titles);
  }
  .skillsBoxThird{
    border: none;
  }
  .skillsBox{
    flex: 0 1 calc(30% - 20px);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* ============================================ */
/* 1400 Width ================================= */
/* ============================================ */
@media only screen and (min-width: 1400px) {}

/* ============================================ */
/* 1900 Width ================================= */
/* ============================================ */
@media only screen and (min-width: 1900px) {}
