# =============================================
# ================ Client Files ===============
# =============================================
# Dependency directories
node_modules/
package-lock.json
build

# SSH Keys & Local Secrets
Blaine-Anderson-Dev-Portfolio-Client
Blaine-Anderson-Dev-Portfolio-Client.pub
Blaine-Anderson-Dev-Portfolio-Client-Secrets

# Other
.DS_Store
